:root
{
  --color-primary-dark: hsl(158, 36%, 37%);
  --color-primary-light: hsl(30, 38%, 92%);
  --color-neutral-dark: hsl(212, 21%, 14%);
  --color-neutral-medium: hsl(228, 12%, 48%);
  --color-neutral-light: hsl(0, 0%, 100%);
  --font-weight-light: 500;
  --font-weight-bold: 700;
  --font-style: normal;
  --font-montserrat: "Montserrat", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-optical-auto: auto;
}

.font-montserrat-light
{
  font-family: var(--font-montserrat);
  font-optical-sizing: var(--font-optical-auto);
  font-weight: var(--font-weight-light);
  font-style: var(--font-style);
}

.font-montserrat-bold
{
  font-family: var(--font-montserrat);
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style)
}

.font-fraunces-bold
{
  font-family: var(--font-fraunces);
  font-optical-sizing: var(--font-optical-auto);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

body
{
  background-color: var(--color-primary-light);
  font-family: var(--font-montserrat);
  font-optical-sizing: var(--font-optical-auto);
  font-style: var(--font-style);
  color: var(--color-neutral-medium);
  font-size: 14px;
}

.card
{
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral-light);
}

.card-lead
{
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: var(--font-weight-light);
  color: var(--color-neutral-medium);
  font-size: 14px;
}

.card-title
{
  font-family: var(--font-fraunces);
  font-optical-sizing: var(--font-optical-auto);
  font-weight: var(--font-weight-bold);
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 32px;
  line-height: 1.1;
  color: var(--color-neutral-dark);
}

.card-price
{
  display: flex;
  border: 1px solid;
  align-items: center;
  justify-content: start;
}

.value
{
  font-family: var(--font-fraunces);
  font-optical-sizing: var(--font-optical-auto);
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
}

.card-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-primary-dark);
  border: none;
  border-radius: 10px;
  color: var(--color-neutral-light);
}

@media screen and (min-width:1440px)
{
  .card
  {
    flex-direction: row;
  }
}
